extends layout

block content

    div(class="row")
        div(class="col-md-12")
            h2 #{pregunta.descripcion} id #{pregunta.id}
            
        div(class="col-md-12")
            each r in pregunta.respuestas
                div(class="form-group")
                    if (!tieneRespuesta)
                        form(action="/partida/#{partida.id}/pregunta/#{pregunta.id}", method="get")                    
                            input(class="btn btn-default btn-block #{r.css}", type="submit", name="respuesta", value="#{r.descripcion} ")
                            input(class="btn btn-default", type="hidden", name="respuestaId", value="#{r.id}")
                    else
                        input(class="btn btn-default btn-block #{r.css}", type="button", name="respuesta", value="#{r.descripcion} ")
        
        if (tieneRespuesta)
            div(class="col-md-12 text-center")
                i(class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom")
                br
                span(class="") Proxima pregunta en 
                span(id="segundosParaProximaPregunta") X 
                span(class="") &nbsp; segundos...
                 
            script.
                var contador = 5;
                setInterval(function(){
                    contador--;
                    document.getElementById('segundosParaProximaPregunta').innerHTML = contador;
                    if (count == 0) {
                        window.location = '/partida/#{partida.id}/pregunta/#{pregunta.id}'; 
                    }
                },1000);